@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-custom {
  border-radius: 8px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  color: white;
  font-weight: 800;
  padding: 10px 18px;
  text-align: center;
}
.button-custom-2 {
  border-radius: 8px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  color: white;
  font-weight: 800;
  padding: 11px 18px;
}

body {
  font-family: "Manrope", sans-serif;
}
